<div style="position:relative; top:-6; background-color:#cccccc; margin:0; padding:1px;"></div>
<p></p>
<p>
    <h2><small>Today's Abilities</h2> </b>
</p>
<br>
<div id="my_ability" class="table-responsive" style="max-width:600px"></div>
