<%# <p>
    <h2><small>Today's Battles List</h2> </b>
</p>%>

<%# <div style="text-align:right"><button style="width:120px" class="btn btn-default" onclick="location.href='spink/sum'">리스트보기</button>

</div>%>
