</p>
<p></p>

<div style="text-align:center"><img src="/image/chain1.png" alt="Show" /> </div>
<br> 유저가
<button type="button" style="width:20px;height:20px;" class="btn btn-warning btn-xs"></button>와
<button type="button" style="width:20px;height:20px;" class="btn btn-info btn-xs"></button>를 클릭해서 임의의 숫자를 선택하면,
<button type="button" style="width:20px;height:20px;" class="btn btn-warning btn-xs"></button>의 숫자는 스핀크 체인에 엮이게 되고 서버는 스핀크 룰에 따라
<button type="button" style="width:20px;height:20px;" class="btn btn-success btn-xs"></button>에 숫자를 생성합니다. 이 때 '생성된 숫자'와 유저가 '
<button type="button" style="width:20px;height:20px;" class="btn btn-info btn-xs"></button>에서 선택했던 숫자'가 일치하면 높은 능력치를 얻을 수 있습니다.
<br><br> 위의 그림은 유저들이 '
<button type="button" style="width:20px;height:20px;" class="btn btn-warning btn-xs"></button>에서 선택한 숫자'와 '이 숫자들의 순차적인 스핀크 연산으로 생성되는 스핀크 체인'을 나타내고 있습니다. 이를 통해 알 수 있듯이 스핀크 체인은 유저들이 제출한 숫자들로만 구성되는, 매우 랜덤한 숫자체인입니다. 운영자들은 전혀 개입하지 않습니다. 스핀크 체인은 유저들이 선택한 숫자,
이를 제출한 시간과 함께 기록되어져 누구든지 쉽게 확인해볼 수 있습니다.
<text style="font-size:8px;">(다만, 전체 체인은 일정 시간 뒤에 공개됩니다. 베타 버전의 스핀크 게임에서는 공개되지 않을 수도 있습니다)</text>
<br><br>

<div id="divBtn3" align="right" style="text-decoration:underline; color:blue;"><button id="button3" style="width:60px;" class="btn btn-link">더읽기</button></div>
<!--divBtn3 div end-->
