<div style="position:relative; top:-6; background-color:#cccccc; margin:0; padding:1px;"></div>
<p></p>
<p>
    <h2 style="float:left"><small>Today's Ranking</small></h2>
    <button style="float:right;margin-right:0px;margin-top:18px;" type="button" class="btn btn-default" id="gotorankviewbtn">
     Show more
   </button>
</p>
<br><br><br>
<div style="clear:both" id="today_ranking" class="table-responsive" style="max-width:600px"></div>