<div style="position:relative; top:-6; background-color:#cccccc; margin:0; padding:1px;"></div>
<p></p>
<p>
    <h2><small>Today's Score</h2> </b>
</p>
<br>
<div style="text-align:center">
  <button type="button" style="width:130px" class="btn btn-success">
    승 : <span id="winning_count" ></span>
  </button> &nbsp; &nbsp;
  <button type="button" style="width:130px" class="btn btn-danger">
    패 :  <span id="losing_count" ></span>
  </button>
</div>
<br>  <div class="alert alert-warning fade in" style="margin-bottom:0px;max-width:560px; margin:auto;">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Notice&TIP : 10.28.16 winner</strong>ㅋ & 이현호, Congratulation! Kudos! बधाई


  </div>
<div id="battle_status" class="container" style="max-width:560px; margin:auto;">
</div>
