<p></p>
아래의 <button type="button" class="btn btn-success btn-xs">?</button>에 들어갈 숫자는 무엇일까요?<br><br>
<p></p>
<div style="width:250px; margin: 0 auto;">
    <button type="button" style="width:27pt" class="btn btn-success">2</button> 와
    <button type="button" style="width:27pt" class="btn btn-warning">1</button> 이 만나면?
    <button id="btText_01" type="button" style="width:27pt" class="btn btn-success">?</button>&nbsp&nbsp<text id="text_01" style="color:red; font-size:8px;"></text>
</div>
<br><br><button type="button" style="width:20px; height:22px" class="btn btn-info btn-xs">?</button>을 클릭해서
<button type="button" style="width:20px; height:22px" class="btn btn-success btn-xs">?</button>에 들어갈 숫자를 맞춰보세요.<br><br><br>
<div style="margin: 0 auto; text-align:center;">
    <button id="btText_02" type="button" style="width:27pt" class="btn btn-info" onclick="myFunction0()">?</button>
    <button id="button8" type="button" style="width:45pt" class="btn btn-default" onclick="textFunc01()">확인</button><br><br>
    <p id="text_02" style="color:red;font-size:12px;"></p>
</div>
