<!-- //헤더 - 홈페이지 전체의 헤더, 주로 상단메뉴가 포함되는 영역 -->

<div style="text-align:center;"><p class="posts"><h3><a href="http://12ead.com">Hello Spinker!!</a></h3></p><p style="color:red">Today's Award - Starbucks $5 gift card <i class="fa fa-bitbucket" style="font-size:24px"></i></p><p><small>We started 10.24.16 in 3003 N 1st ST, SANJOSE, CA</small></p></div>
